@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Renters!</h1>
    <p>Looking for a company that offers a wide range of rental services? 
        Check out <b>Renters</b> Rentals. From cars to chainsaws, we've got you covered
        with top-quality products and exceptional customer service. 
        Whether you're planning a road trip, DIY project, outdoor adventure, 
        or special event, we can provide the equipment and supplies you need to make it a success.</p>
</div>

