
*.vsidx
*.vsidx
CRUD/.vs/CRUD/FileContentIndex/1fd1ab6f-43e8-4db2-b0e2-8626bbdf2bae.vsidx
CRUD/.vs/CRUD/DesignTimeBuild/.dtbcache.v2
CRUD/.vs/CRUD/FileContentIndex/1fd1ab6f-43e8-4db2-b0e2-8626bbdf2bae.vsidx
CRUD/.vs/CRUD/v17/.futdcache.v2
CRUD/.vs/CRUD/v17/.suo
CRUD/.vs/ProjectEvaluation/crud.metadata.v6.1
CRUD/.vs/ProjectEvaluation/crud.projects.v6.1
