USE [master]
GO
/****** Object:  Database [Renters]    Script Date: 2023-04-29 18:23:29 ******/
CREATE DATABASE [Renters]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Renters', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Renters.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Renters_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Renters_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Renters].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Renters]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 2023-04-29 18:23:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[Firstname] [nvarchar](50) NOT NULL,
	[Lastname] [nvarchar](50) NOT NULL,
	[Adress] [nvarchar](255) NOT NULL,
	[Phone] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 2023-04-29 18:23:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Price] [int] NOT NULL,
	[Description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rent]    Script Date: 2023-04-29 18:23:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rent](
	[RentsID] [int] IDENTITY(1,1) NOT NULL,
	[ProductsID] [int] NOT NULL,
	[CustomerID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RentsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([CustomerID], [Firstname], [Lastname], [Adress], [Phone]) VALUES (1, N'Olle', N'Persson', N'Bovägen 12 Götene', N'070385442')
INSERT [dbo].[Customer] ([CustomerID], [Firstname], [Lastname], [Adress], [Phone]) VALUES (3, N'Stina', N'Karlsson', N'Svampstigen 12 Skara', N'073842748')
INSERT [dbo].[Customer] ([CustomerID], [Firstname], [Lastname], [Adress], [Phone]) VALUES (4, N'Sven', N'Ingmyr', N'Skepparevägen 33 Hönö', N'074728847')
SET IDENTITY_INSERT [dbo].[Customer] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([ProductID], [Name], [Price], [Description]) VALUES (1, N'Car', 70, N'Really lovley car to rent')
INSERT [dbo].[Product] ([ProductID], [Name], [Price], [Description]) VALUES (2, N'Mc', 55, N'The best bang for your buck')
INSERT [dbo].[Product] ([ProductID], [Name], [Price], [Description]) VALUES (3, N'Mower', 29, N'If you need a nice looking lawn')
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[Rent] ON 

INSERT [dbo].[Rent] ([RentsID], [ProductsID], [CustomerID]) VALUES (11, 1, 1)
INSERT [dbo].[Rent] ([RentsID], [ProductsID], [CustomerID]) VALUES (12, 2, 4)
INSERT [dbo].[Rent] ([RentsID], [ProductsID], [CustomerID]) VALUES (13, 1, 5)
SET IDENTITY_INSERT [dbo].[Rent] OFF
GO
ALTER TABLE [dbo].[Rent]  WITH CHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customer] ([CustomerID])
GO
ALTER TABLE [dbo].[Rent]  WITH CHECK ADD FOREIGN KEY([ProductsID])
REFERENCES [dbo].[Product] ([ProductID])
GO
USE [master]
GO
